@model IEnumerable<SPManager.Views.StatsGroup>

@{ 
    ViewBag.Title = "Statistics";
}

<h2>University Statistics</h2>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Universities
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniversityName)
            </td>
            <td>
                @item.UniversityCount               
            </td>
        </tr>
    }
</table>